<header class="header">
  <nav>
    <a routerLink="/" class="logo">ShopSmart Grocery</a>
    <div class="nav-links">
      <a routerLink="/products">Products</a>
      <a routerLink="/cart">Cart</a>
      <a routerLink="/orders">Orders</a>

      <ng-container *ngIf="!isLoggedIn">
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
      </ng-container>

      <ng-container *ngIf="isLoggedIn">
        <a routerLink="/" (click)="onLogout()">Logout</a>
      </ng-container>
    </div>
  </nav>
</header>